* {
    box-sizing: border-box;
    background-color: white;
    align-content: center;
    
  }

body {
    padding: -100px;
    max-width: 960px;
    border-style: solid;
    border-width: 4px;
    background-color: grey;
}


.mainContainer {
    background-color: rgb(42, 182, 182);
    position: absolute;
    width: 960px;
    margin-left: 20%;
    margin-right: 20%;
    top: 300px;
    border: 2px;
    border-color: black;
    bottom: 200px;
    
}

#photo {
    float: left;
}

.Navigation {
   float: right;
}

header {
    overflow: hidden;
    Position: absolute;
    top: 0;
    width: 100%;
    background-color: whitesmoke;
}

#NameTag {
    Padding: 20px;
    max-width: 320px;
    Margin-bottom: 20px;
    background-color: teal;
}



footer {
    padding: 20px;
    clear: both;
    background: whitesmoke;
  }